# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Virtual environments
venv/
.env/

# PyCharm
.idea/

# Data (обычно не коммитят)

# OS
.DS_Store
Thumbs.db

drom_archive_2007-2025.csv
drom_archive_cleaned_2018-2025.csv

rf_model.pkl